<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../flux-mixin/flux-external.html">

<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-dropdown/paper-dropdown.html">
<link rel="import" href="../bower_components/core-menu/core-menu.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/font-roboto/roboto.html">

<script src="../bower_components/lodash/lodash.min.js"></script>

<!-- Custom UI element for a client's application.

The flux-section-inspector is a custom element that allows for display and manipulation of building
section parameters.

@element flux-section-inspector
@blurb Custom building section inspector
@group Custom UI Elements
-->

<polymer-element name="flux-section-inspector">

<template>
    <style>
        :host {
            overflow: visible;
            width: 100%;
            height: 100%;
            min-width: 200px;
            min-height: 370px;
            position: absolute;
            box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
            border-radius: 2px;
            background-color: rgba(0,0,0,.25);
            font-family: Roboto, sans-serif;
        }

        paper-input {
            width: 50px;
        }
        paper-input /deep/ .focused-underline {
            background-color: orange;
        }
        h3 {
            text-transform: uppercase;
            color: white;
            position: relative;
            margin: 12px;
            font-size: 16px;
        }
        .inspectorLabel {
            margin: 0px 12px;
        }
        .row {
            height: 36px;
            position: relative;
            color: white;
        }
        .buttonrow {
            padding: 6px;
            position: relative;
        }
        .sectionBtn {
            background: none;
            text-align: center;
            font-size: small;
            margin: 6px;
            border: 1px solid white;
            color: white;
        }
        #sectionUsage {
            width: 120px;
        }
        paper-item /deep/ .button-content {
            padding: 0.3em;
        }
        paper-dropdown {
            color: black;
        }
    </style>

    <h3>{{label}}</h3>
    <div horizontal layout class="row">
        <span class="inspectorLabel" self-center>Section:</span>
        <span flex self-center>
            <paper-dropdown-menu id="section" label="section...">
                <paper-dropdown class="dropdown" duration="{{drop_duration}}">
                    <core-menu id="sectionMenu" class="menu" selected="{{selectedSection}}">
                        <template id="sectionDropdown" repeat="{{section, idx in sectionValues_}}">
                            <paper-item>{{idx + 1}}</paper-item>
                        </template>
                    </core-menu>
                </paper-dropdown>
            </paper-dropdown-menu>
        </span>
    </div>


    <div horizontal layout class="row">
        <span class="inspectorLabel" self-center>Usage:</span>
        <span flex self-center>
            <paper-dropdown-menu id="sectionUsage" label="usage..." on-core-select="{{updateUsage_}}">
                <paper-dropdown class="dropdown" duration="{{drop_duration}}">
                    <core-menu id="usageMenu" class="menu">
                        <template repeat="{{use in validUseTypes_}}">
                            <paper-item>{{use}}</paper-item>
                        </template>
                    </core-menu>
                </paper-dropdown>
            </paper-dropdown-menu>
        </span>
    </div>

    <div horizontal layout class="row">
        <span class="inspectorLabel" self-center>Height:</span>
        <span flex self-center>
            <span>{{heights[selectedSection]}}</span>
            <span>ft</span>
        </span>
    </div>

    <div horizontal layout class="row">
        <span class="inspectorLabel" self-center>Floor Height:</span>
        <span flex self-center>
            <paper-input id="sectionWidth"
                on-change="{{updateFloorHeight_}}" on-keydown="{{filterKeysDecimal}}"
                value="{{sectionFloorHeight_}}">
            </paper-input>
            <span>ft</span>
        </span>
    </div>

    <div horizontal layout class="row">
        <span class="inspectorLabel" self-center>Width:</span>
        <span flex self-center>
            <paper-input id="sectionWidth"
                on-change="{{updateWidth_}}" on-keydown="{{filterKeysDecimal}}"
                value="{{sectionWidth_}}">
            </paper-input>
            <span>ft</span>
        </span>
    </div>

    <div horizontal layout class="row">
        <span class="inspectorLabel" self-center>Depth:</span>
        <span flex self-center>
            <paper-input id="sectionDepth"
                on-change="{{updateDepth_}}" on-keydown="{{filterKeysDecimal}}"
                value="{{sectionDepth_}}">
            </paper-input>
            <span>ft</span>
        </span>
    </div>

    <div horizontal layout class="row">
        <span class="inspectorLabel" self-center>Floors:</span>
        <span flex self-center>
            <paper-input id="sectionFloors"
                on-change="{{updateFloors_}}" on-keydown="{{filterKeysDecimal}}"
                value="{{sectionFloors_}}"></paper-input>
        </span>
    </div>

    <div vertical layout class="buttonrow">
        <paper-button flex one class="sectionBtn" on-click="{{removeSection}}">&mdash; Remove this section</paper-button>
        <paper-button flex one class="sectionBtn" on-click="{{addSection}}">+ Add section</paper-button>
    </div>


</template>

<script>
Polymer(Polymer.mixin(function(_) {

    /* Helper elements for number input validation */
    var validIntegerKeys = [8, 9, 13, 37, 39, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57];
    var validDecimalKeys = [].concat(validIntegerKeys, 190);


    var defaultSectionValue = 0;
    var defaultUsage = "office";

    function newDefaultSection() {
        return {
            floorHeight: 10,
            width: 100,
            depth: 100,
            numFloors: 3,
            usage: 'office',
            selected: false
        };
    }

    return {
        publish: {
            /* Label to display at top of inspector panel */
            label: "Section Input",

            /**
             * Bind this element to a flow input.
             * It outputs an array of objects with the following attributes:
             *  width: number, the width of the selected section
             *  depth: number, the depth of the selected section
             *  numFloors: number, the number of floors in the selected section
             *  usage: string, one of ['commercial', 'residential', 'hotel', 'retail', or 'parking']
             * @attribute sections
             */
            sections: null,

            /**
             * Bind this element to a flow output.
             * A list of heights of each section
             * @attribute heights
             */
            heights: []
        },

        /* Internal attributes for data binding, storing state, and populating dropdown lists */
        drop_duration: 150,
        sectionValues_: [],
        selectedSection: -1,
        usageIndex: 0,
        sectionDepth_: defaultSectionValue,
        sectionFloorHeight: defaultSectionValue,
        sectionWidth_: defaultSectionValue,
        sectionFloors_: defaultSectionValue,
        sectionUsage_: defaultUsage,
        validUseTypes_: ['office', 'residential', 'commercial', 'retail', 'hotel', 'parking'],


        domReady: function() {
            // HACK (jcarlile): Force the template that populates the dropdown menu to refresh; this
            // prevents the displayed value from showing NaN
            this.$.sectionDropdown.iterator_.updateIteratedValue();
            this.selectedSection = 0;
            this.selectedSectionChanged();
        },

        resetDefaults_: function() {
            this.sectionDepth_ = defaultSectionValue;
            this.sectionFloorHeight_ = defaultSectionValue;
            this.sectionWidth_ = defaultSectionValue;
            this.sectionFloors_ = defaultSectionValue;
            this.sectionUsage_ = defaultSectionValue;
            this.selectedSection = 0;
        },

        selectedSectionChanged: function(newVal, oldVal) {
            if (this.sectionValues_.length === 0) {
                this.resetDefaults_();
                return;
            }

            var selected = this.sectionValues_[this.selectedSection];
            if (!selected || newVal === oldVal) { return; }

            this.updateSelectedProperties_();
            this.sectionFloorHeight_ = selected.floorHeight;
            this.sectionWidth_ = selected.width;
            this.sectionDepth_ = selected.depth;
            this.sectionFloors_ = selected.numFloors;
            this.sectionUsage_ = selected.usage;
            this.$.usageMenu.selected = this.getUsageIndex_(selected.usage);
        },


        updateSelectedProperties_: function() {
            // Update the "selected" property for all sections.
            _.forEach(this.sectionValues_, function(section, index) {
                var isSelected = (index === this.selectedSection)
                if (section.selected !== isSelected) {
                    section.selected = isSelected;
                }
            }, this);
            this.updateSections();
        },
        updateFloorHeight_: function(e, detail, sender) {
            this.sectionValues_[this.selectedSection].floorHeight = this.sectionFloorHeight_;
            this.updateSections();
        },
        updateWidth_: function(e, detail, sender) {
            this.sectionValues_[this.selectedSection].width = this.sectionWidth_;
            this.updateSections();
        },
        updateDepth_: function(e, detail, sender) {
            this.sectionValues_[this.selectedSection].depth = this.sectionDepth_;
            this.updateSections();
        },
        updateUsage_: function(e, detail, sender) {
            this.sectionUsage_ = detail.item.textContent;
            this.sectionValues_[this.selectedSection].usage = this.sectionUsage_;
            this.updateSections();
        },
        updateFloors_: function(e, detail, sender) {
            this.sectionValues_[this.selectedSection].numFloors = this.sectionFloors_;
            this.updateSections();
        },



        addSection: function() {
            var section = newDefaultSection();
            if (!this.sectionValues_) {
                this.sectionValues_ = [];
            }

            this.sectionValues_.splice(this.selectedSection + 1, 0, section);
            setTimeout(function() { this.selectedSection += 1; }.bind(this), 0);
            this.updateSections();
        },

        removeSection: function() {
            if (this.sectionValues_.length === 0) { return; }

            this.sectionValues_.splice(this.selectedSection, 1);
            if (this.selectedSection > 0) {
                setTimeout(function() { this.selectedSection -= 1; }.bind(this), 0);
            }

            this.selectedSectionChanged();
            this.updateSections();
        },

        sectionsChanged: function(oldVal, newVal) {
            if (newVal && this.sectionValues_ !== newVal) {
                this.sectionValues_ = newVal;
                this.selectedSectionChanged();
            }
        },


        /* Helper functions for filtering number inputs */
        filterKeysIntegers: function(e) {
            if (validIntegerKeys.indexOf(e.keyCode) === -1) {
                e.preventDefault();
                return false;
            }
        },
        filterKeysDecimal: function(e) {
            if (validDecimalKeys.indexOf(e.keyCode) === -1) {
                e.preventDefault();
                return false;
            }
        },

        /* Helper function for setting the selected item of the usage drop down menu */
        getUsageIndex_: function(use) {
            return this.validUseTypes_.indexOf(use);
        },

        updateSections: function() {
            // In order for changes to be properly picked up by the flux-input element which we
            // typically bind to, we need to do a whole-sale replace of the databound object.
            this.sections = JSON.parse(JSON.stringify(this.sectionValues_));
        }

    };
}(), Flux.externalEltMixin));
</script>
</polymer-element>
