<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../flux-mixin/flux-external.html">

<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-slider/paper-slider.html">
<link rel="import" href="../bower_components/paper-material/paper-material.html">

<style>
  :host {
      font-family: Roboto, sans-serif;
  }
  paper-material {
    margin-top: 24px;
    background-color: white;
    /*height: 100%;*/
  }
  paper-slider {
    width: 100%;
  }
  #redSlider #sliderBar #activeProgress,
  #redSlider #sliderKnobInner,
  #redSlider #sliderKnobInner::before {
    background-color: red;
  }
  #greenSlider #sliderBar #activeProgress,
  #greenSlider #sliderKnobInner,
  #greenSlider #sliderKnobInner::before {
    background-color: green;
  }
  #blueSlider #sliderBar #activeProgress,
  #blueSlider #sliderKnobInner,
  #blueSlider #sliderKnobInner::before {
    background-color: blue;
  }
  #opacitySlider #sliderBar #activeProgress,
  #opacitySlider #sliderKnobInner,
  #opacitySlider #sliderKnobInner::before {
    background-color: gray;
  }
  #roughnessSlider #sliderBar #activeProgress,
  #roughnessSlider #sliderKnobInner,
  #roughnessSlider #sliderKnobInner::before {
    background-color: black;
  }
</style>

<dom-module id="rgb-widget">
  <template>
    <paper-material z="2">
      <paper-slider id="redSlider" pin value="{{red}}" min="0" max="1" step=".004"></paper-slider>
      <paper-slider id="greenSlider" pin value="{{green}}" min="0" max="1" step=".004"></paper-slider>
      <paper-slider id="blueSlider" pin value="{{blue}}" min="0" max="1" step=".004"></paper-slider>
    </paper-material>
  </template>

  <script>
    RgbWidget = Polymer({

        is: 'rgb-widget',

        properties: {
          red: {
            type: Number,
            value: 0.1
          },
          green: {
            type: Number,
            value: 0.2
          },
          blue: {
            type: Number,
            value: 0.3
          }
        },

        behaviors: [Flux.externalEltBehavior]

    });
  </script>
</dom-module>