<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/observe-js/observe-js.html">

<!-- Single import point for Flux webcomponent extensions -->
<script src="flux-external.js"></script>